<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>Ogma Library</string>
  <key>CFBundleExecutable</key>
  <string>__OGMA_EXECUTABLE__</string>
  <key>CFBundleIdentifier</key>
  <string>com.ogma.library</string>
  <key>CFBundleName</key>
  <string>Ogma Library</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>__OGMA_VERSION__</string>
  <key>CFBundleVersion</key>
  <string>__OGMA_VERSION__</string>
</dict>
</plist>
